page-login {
    .login {
        border-radius: 2vh;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #710d9a;
        -webkit-box-shadow: inset 0 -1px 0 0 #710d9a;
        box-shadow: inset 0 -1px 0 0 #710d9a;
    }
    .label-md[stacked],
    .label-md[floating] {
        margin-top: -2%;
    }
    .login-options {
        border-radius: 1vh;
    }
}