<!-- -->
<ion-content style="height:100%;" padding class="animated fadeIn login auth-page">
  <div  class="login-content">

    <!-- Logo -->
    <div  padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <!-- <h2 ion-text class="text-primary">
        <strong>Login</strong> 
      </h2> -->
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="textColorDarkBlack" tappable (click)="forgotPass()">
      <strong>Forgot Password?</strong>
    </p>

    <div>
      <button class="login" ion-button icon-start block color="themeColor" tappable (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>

      <p text-center ion-text color="textColorDarkBlack">Or Sign in with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook login-options">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button  ion-button icon-only block class="btn-twitter login-options">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button  ion-button icon-only block class="btn-gplus login-options">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="textColorDarkBlack" tappable (click)="register()">New here?
        <strong>Sign up</strong>
      </span>
    </div>

  </div>
</ion-content>