<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <h2 ion-text class="text-primary">
        <strong>I BUS</strong> Sign Up
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">

      <ion-item>
        <ion-label floating>
          <ion-icon name="bus" item-start class="text-primary"></ion-icon>
          Bus NO
        </ion-label>
        <ion-input type="text" [(ngModel)]="busNo" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="send" item-start class="text-primary"></ion-icon>
          route
        </ion-label>
        <ion-input type="text" [(ngModel)]="route" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="closed-captioning" item-start class="text-primary"></ion-icon>
          capacity
        </ion-label>
        <ion-input type="text" [(ngModel)]="capacity" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"> </ion-input>
      </ion-item>
    </form>

    <div margin-top>
      <button ion-button block color="dark" tappable (click)="register()">
        SIGN UP
      </button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>

  </div>
</ion-content>