page-passenger-home {
    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #map {
        height: 90%;
        margin-top: 7px;
        border-radius: 1vh;
    }
    .scroll-content {
        background-color: color($colors, customBlue);
        padding: 8px;
    }
    .card-text-alignment {
        text-align: center;
        width: 102.3%;
        margin-left: -1%;
    }
    .card-content-md {
        padding: 2px;
    }
    .card {
        margin-left: 0%;
        width: 100%
    }
    p {
        font-size: 133%;
        margin-top: 7%;
        letter-spacing: 5.2px;
    }
    [icon-left] ion-icon,
    [icon-start] ion-icon {
        font-size: 2.1em;
        margin-right: 1%;
    }
    .card-header-md {
        font-size: 2.6rem;
        font-weight: 500;
    }
    .time {
        font-size: 1.8rem;
    }
    .select-md {
        width: 100%;
        padding: 0px;
    }
    .item-md {
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 1vh;
        margin-top: 1%;
    }
    .img {
        max-width: 9%;
        border: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .img-bustop {
        max-width: 8%;
        border: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .time {
        font-size: 1.7rem;
        font-weight: bold;
        color: red;
        display: inline-block;
        vertical-align: middle;
    }
    .eta {
        font-size: 1.7rem;
        font-weight: 900;
        display: inline-block;
        color: black;
        vertical-align: middle;
    }
    .bus-station {
        font-size: 1.7rem;
        font-weight: 900;
        display: inline-block;
        color: black;
        vertical-align: middle;
        margin-left: 0.7%;
    }
    .margin-1 {
        margin: 4%;
        margin-left: 0%;
    }
    .item-md.item-block .item-inner {
        border: 9px;
    }
}