<ion-header>
    <ion-navbar color="themeColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Live Bus Movements</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item calss="margin-select">
        <ion-label>Route</ion-label>
        <ion-select interface="popover" [(ngModel)]="route" inter120ace="popover">
            <ion-option value="120">120 - Colombo - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
            <ion-option value="120">120 - Colombo - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
            <ion-option value="120">120 - Colombo - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
            <ion-option value="120">120 - Colombo - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
            <ion-option value="120">120 - Colombo - Piliyandala</ion-option>
            <ion-option value="m">157 - Madapatha - Piliyandala</ion-option>
        </ion-select>
    </ion-item>

    <ion-card>
        <ion-card-content>

            <div class="margin-1 ">
                <img class="img" src="assets/img/ETA.png">
                <span class="eta">Estimated Time Arrival : </span>
                <span id="countDown" class="time">{{time}}</span>
            </div>

            <div class="margin-1 ">
                <img class="img-bustop" src="assets/img/bustop2.png">
                <span class="bus-station">Bus Station : </span>
                <span class="time">Pittugala</span>
            </div>

        </ion-card-content>
    </ion-card>



    <div #map id="map"></div>

    <!-- </ion-card-content>
    </ion-card> -->
</ion-content>