<!-- -->
<!-- <ion-header class="no-shadow">

  <ion-navbar class="no-border">
    <ion-title>
      <ion-icon name="cog" class="text-primary"></ion-icon>
      <span class="text-primary">Settings</span>
    </ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar color="themeColor">
    <button [color]="danger" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="white-bg">
  <!-- User settings-->
  <ion-item-group>
    <!-- <ion-item-divider color="secondary" class="bold">User Settings</ion-item-divider> -->
    <ion-item no-lines>
      <ion-label>Language</ion-label>
      <ion-select interface="popover" [(ngModel)]="profile.language" cancelText="Cancel" okText="OK">
        <ion-option value="en" selected="true">English (UK)</ion-option>
        <ion-option value="sinhala">Sinhala (LK)</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Notifications?</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="contact"></ion-icon>
        Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.name" name="name"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="mail"></ion-icon>Email</ion-label>
      <ion-input type="text" [(ngModel)]="profile.email" name="email"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="call"></ion-icon>
        Mobile Number</ion-label>
      <ion-input type="number" [(ngModel)]="profile.contact" name="contact"></ion-input>
    </ion-item>

  <!-- <button class="save" ion-button color="themeButton" tappable>Save</button> -->

    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="lock"></ion-icon>
        Old Password</ion-label>
      <ion-input type="password" [(ngModel)]="profile.password" name="password"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="lock"></ion-icon>
        New Password</ion-label>
      <ion-input type="password" [(ngModel)]="profile.newPassword" name="newPassword"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>
        <ion-icon color="textColorDarkBlack" item-left name="lock"></ion-icon>
        Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="profile.confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>


  </ion-item-group>
  <button class="logout" ion-button color="lightDark" full tappable >SAVE</button>
  <button class="logout" ion-button color="themeColor" full tappable (click)="logout()">LOG OUT</button>

</ion-content>