// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.

$text-color: #4c6df9;
$background-color: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #090f74,
  secondary: #5b5ef4,
  danger: #da0b0b,
  start:#0d8410,
  light: #75C4FD,
  dark: #0039a2,
  customBlue: #f4f6f8,
  custommDarkBlue: #090f74,
  success:#0ea0a7,
  themeColor: #c23616,
  themeButton: #311174,
  lightDark:#4e414e,
  textColorDarkPurple: #290e64,
  textColorDarkBlack : #000000
  
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";



ion-content,ion-title{
 font-family: 'Rajdhani', sans-serif;
}

ion-app.md [padding] .scroll-content {
    padding: 8px !important;
}
  



