<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar">
              <img src="assets/img/man.svg">
            </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h2 ion-text class="no-margin bold text-white">
              Chamindu Thiranjaya
            </h2>
            <span ion-text color="customBlue">Premium Member</span>
          </ion-col>
        </ion-row>


      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="themeColor">

    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="textColorDarkPurple"></ion-icon>
        <span class="menuText" ion-text color="textColorDarkBlack">{{menuItem.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>